[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	owner = group user/Subins Mani (Subinsmani)
[access "refs/for/refs/*"]
	read = group user/Subins Mani (Subinsmani)
	push = group Administrators
	push = group Registered Users
	push = group user/Subins Mani (Subinsmani)
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Subins Mani (Subinsmani)
	label-Verified = -1..+1 group user/Subins Mani (Subinsmani)
	label-Verified = group Administrators
	label-Verified = group Registered Users
	rebase = group Administrators
	rebase = group Registered Users
	rebase = group user/Subins Mani (Subinsmani)
	removeReviewer = group Administrators
	removeReviewer = group user/Subins Mani (Subinsmani)
	submit = group Administrators
	submit = group user/Subins Mani (Subinsmani)
[access "refs/heads/*"]
	read = group Administrators
	read = group Registered Users
	read = group user/Subins Mani (Subinsmani)
	create = group Administrators
	create = group user/Subins Mani (Subinsmani)
	push = group Administrators
	push = group Registered Users
	push = +force group user/Subins Mani (Subinsmani)
	pushMerge = group Administrators
	pushMerge = group user/Subins Mani (Subinsmani)
[access "refs/tags/*"]
	push = group Administrators
	push = group user/Subins Mani (Subinsmani)
	push = +force group user/Subins Mani (Subinsmani)
